.resImage{box-shadow: none !important;
}
#cardHover :hover{
    box-shadow: rgb(56, 83, 112) 0px 20px 30px -10px;
    transform: translateY(-3px);
    }
#nocardHover :hover{
    box-shadow: none;
    transform: none;
    }