
.searchInput {
    margin: auto;
    width: 50%;
    display: flex;
    justify-content: center;
    display: flex;
    margin-top:30px;
}


.search input {
    border: 0;
    border-radius: 18px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 18px;
    padding: 15px;
}

.searchIcon {
    height: 60px;
    width: 50px;
    margin-top: 14px;

    display: inline-block;
    place-items: center;
    border-radius: 0px 18px 18px 0px;
    transform: translateY(-1px);
}

input:focus {
    outline: none;
}

.searchIcon svg {
    font-size: 35px;
}